*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#colors{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

#red{
    width: 30%;
    height: 100%;
    background-color: rgb(226, 69, 63);
}

#yellow{
    width: 30%;
    height: 100%;
    background-color: rgb(241, 150, 12);
}

#elem{
    width: 
}




